<form [formGroup]="loginForm">

    <img src="assets/img/devbridgelogo.png">

    <h1>Please sign in</h1>

    <div>
        <div style="width: 400px">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Email address</mat-label>
                <input matInput placeholder="Email address" formControlName="username">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Your work email address</mat-hint>

            </mat-form-field>
        </div>

        <div style="width: 400px">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" formControlName="password">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Do not disclose your password to anyone, even someone you trust
                </mat-hint>
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary" (click)="onLogin()" class="w-100 py-2 mt-4">
            Sign in
        </button>
    </div>
</form>