<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>New trip</mat-card-title>
  </mat-card-header>
  <form [formGroup]="tripForm">
    <mat-card-content>
        <h4>General info</h4>

        <mat-form-field>
            <input formControlName="name" matInput placeholder="Name" />
        </mat-form-field>

        <mat-form-field>
            <textarea matInput
                    formControlName="description"
                    name="description"
                    matTextareaAutosize matAutosizeMinRows=1
                    placeholder="Description"></textarea>
        </mat-form-field>

            <h4>Dates</h4>
            <div class="input-block">
                <mat-form-field>
                    <input matInput
                           [matDatepicker]="picker1"
                           placeholder="Select start data"
                           formControlName="dateFrom"
                           [matDatepickerFilter]="isPreviousDate"/>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <input matInput
                           [matDatepicker]="picker2"
                           placeholder="Select end date"
                           formControlName="dateTo"
                           [matDatepickerFilter]="isPreviousDate"/>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>

            <h4>From where trip starts</h4>
            <mat-form-field>
                <mat-label>From where</mat-label>
                <mat-select formControlName="from">
                <mat-option
                    *ngFor="let apartment of apartments"
                    [value]="apartment.id"
                    [disabled]="apartment.id === tripForm.value.to"
                >
                    {{ apartment.location.name }} rooms: {{ apartment.rooms.length }} -
                    {{ apartment.location.address }}, {{ apartment.location.city }},
                    {{ apartment.location.country }}
                </mat-option>
                </mat-select>
            </mat-form-field>

            <h4>Destination</h4>
            <mat-form-field>
                <mat-label>To where</mat-label>
                <mat-select formControlName="to">
                <mat-option
                    *ngFor="let apartment of apartments"
                    [value]="apartment.id"
                    [disabled]="apartment.id === tripForm.value.from"
                >
                    {{ apartment.location.name }} rooms: {{ apartment.rooms.length }} -
                    {{ apartment.location.address }}, {{ apartment.location.city }},
                    {{ apartment.location.country }}
                </mat-option>
                </mat-select>
            </mat-form-field>

            <h4>Select employees to go to this trip</h4>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Employees list
                  </mat-panel-title>
                  <mat-panel-description>
                    number of employees selected: {{ getNumberOfSelectedEmployees() }}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-selection-list #employee>
                    <mat-list-option *ngFor="let employee of employees | SortBy; let i = index;"
                                     (click)="selectEmployee(employee)"
                                     [selected]="employee.isChecked"
                                     [disabled]="!isEmployeeFree(employee)">
                        <div class="row">
                            <div class="column date-picker">
                                <input matInput [matDatepicker]="employeePicker" class="hidden-input">
                                <mat-datepicker-toggle matSuffix [for]="employeePicker"></mat-datepicker-toggle>
                                <mat-datepicker #employeePicker [dateClass]="busyDateClassSelector(employee)"></mat-datepicker>
                            </div>
                            <div class="column employee-info">
                                <h4 matLine>{{ employee.firstName }} {{ employee.lastName }} - email:  {{ employee.email }}</h4>
                                <p matLine>{{ isEmployeeFree(employee) ? 'employee is free' : 'employee is not free'}} </p>
                            </div>
                        </div>
                    </mat-list-option>
                </mat-selection-list>
            </mat-expansion-panel>
        </mat-card-content>
    </form>

    <mat-card-actions style="display: flex; justify-content: flex-end">

        <button mat-raised-button color="primary" (click)="onSubmit(); $event.preventDefault()">Next</button>
    </mat-card-actions>
</mat-card>
