<div mat-dialog-title>
    Darbuotojo pridėjimas
</div>
<form [formGroup]="addEmployeeForm">

    <div mat-dialog-content style="display: flex; flex-direction: column">
        <mat-form-field class="w-100">
            <input matInput
                   type="text"
                   placeholder="Darbuotojo vardas"
                   formControlName="firstName">
        </mat-form-field>

        <mat-form-field class="w-100">
            <input matInput
                   type="text"
                   placeholder="Darbuotojo pavardė"
                   formControlName="lastName">
        </mat-form-field>

        <mat-form-field class="w-100">
            <input matInput
                   type="password"
                   placeholder="Slaptažodis"
                   formControlName="password">
        </mat-form-field>

        <mat-form-field class="w-100">
            <input matInput
                   type="email"
                   placeholder="Elektroninis paštas"
                   formControlName="email">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Rolės</mat-label>
            <mat-select formControlName="roles" multiple>
                <mat-option *ngFor="let role of roles" [value]="role">{{role.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div mat-dialog-actions class="d-flex">
        <button mat-stroked-button class="" [mat-dialog-close]>
            Cancel
        </button>
        <button mat-raised-button color="primary" style="margin-left: 1em" [disabled]="addEmployeeForm.invalid"
                (click)="saveEmployee()">
            Pridėti darbuotoją
        </button>
    </div>
</form>

{{addEmployeeForm.value | json}}