<div class="d-flex align-items-center">
    <div>
        <h1>Apartments</h1>
    </div>

    <div class="ml-auto">
        <button mat-raised-button color="primary" (click)="openAddNewApartmentModal()">New apartment</button>
    </div>
</div>

<table mat-table [dataSource]="apartments">
    <ng-container cdkColumnDef="office">
        <mat-header-cell *cdkHeaderCellDef> Office</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{ row?.name }}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="name">
        <mat-header-cell *cdkHeaderCellDef> Name</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{ row?.location?.name }}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="address">
        <mat-header-cell *cdkHeaderCellDef> Address</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{ row?.location?.address}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="numberOfRooms">
        <mat-header-cell *cdkHeaderCellDef>
            Number of rooms
        </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{ row.rooms.length }} </mat-cell>
    </ng-container>

    <mat-header-row
            *cdkHeaderRowDef="['office', 'name', 'address', 'numberOfRooms']"></mat-header-row>
    <mat-row
            *cdkRowDef="let row; columns: ['office', 'name', 'address', 'numberOfRooms']"></mat-row>
</table>


<p class="no-trips" *ngIf="apartments?.length === 0">
    There is no added apartments
</p>

