<div class="d-flex">
  <mat-card class="example-card" *ngIf="trip">
    <mat-card-header>
      <div class="d-flex w-100">
        <h3>Trip 1 details</h3>
      </div>
    </mat-card-header>
    <mat-list>
      <h3 mat-subheader>Trip name</h3>
      <mat-list-item>
        <h4 mat-line>{{ trip.name }}</h4>
      </mat-list-item>
      <h3 mat-subheader>Description</h3>
      <mat-list-item>
        <h4 mat-line>{{ trip.description }}</h4>
      </mat-list-item>
      <div class="dates-group">
        <div>
          <h3 mat-subheader>Start date</h3>
          <mat-list-item>
            <h4 mat-line>{{ trip.dateFrom }}</h4>
          </mat-list-item>
        </div>
        <div>
          <h3 mat-subheader>End date</h3>
          <mat-list-item>
            <h4 mat-line>{{ trip.dateTo }}</h4>
          </mat-list-item>
        </div>
      </div>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Employees</h3>
      <mat-list-item *ngFor="let account of trip?.accounts">
        <h4 mat-line>
          {{ account.firstName }} {{ account.lastName }} - {{ account.email }}
        </h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Checklist Items</h3>
      <mat-list-item *ngFor="let checklistItem of trip?.checklistItems">
        <h4 mat-line>{{ checklistItem.name }} - {{ checklistItem.price }} €</h4>
      </mat-list-item>
    </mat-list>
  </mat-card>

  <mat-card class="example-card" *ngIf="mergeTrip">
    <mat-card-header>
      <div class="d-flex w-100">
        <h3>Trip 2 details</h3>
      </div>
    </mat-card-header>
    <mat-list>
      <h3 mat-subheader>Trip name</h3>
      <mat-list-item>
        <h4 mat-line>{{ mergeTrip.name }}</h4>
      </mat-list-item>
      <h3 mat-subheader>Description</h3>
      <mat-list-item>
        <h4 mat-line>{{ mergeTrip.description }}</h4>
      </mat-list-item>
      <div class="dates-group">
        <div>
          <h3 mat-subheader>Start date</h3>
          <mat-list-item>
            <h4 mat-line>{{ mergeTrip.dateFrom }}</h4>
          </mat-list-item>
        </div>
        <div>
          <h3 mat-subheader>End date</h3>
          <mat-list-item>
            <h4 mat-line>{{ mergeTrip.dateTo }}</h4>
          </mat-list-item>
        </div>
      </div>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Employees</h3>
      <mat-list-item *ngFor="let account of mergeTrip?.accounts">
        <h4 mat-line>
          {{ account.firstName }} {{ account.lastName }} - {{ account.email }}
        </h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Checklist Items</h3>
      <mat-list-item *ngFor="let checklistItem of mergeTrip?.checklistItems">
        <h4 mat-line>{{ checklistItem.name }} - {{ checklistItem.price }} €</h4>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
<button mat-raised-button color="primary" (click)="submitMerge()">Confirm merge</button>
