<mat-card class="example-card" *ngIf="trip">
    <mat-card-header>
        <div class="d-flex w-100">

            <h3>Trip details</h3>

            <button mat-raised-button color="primary" class="ml-auto" (click)="editTripDetails()">
                Edit trip
            </button>
        </div>
    </mat-card-header>
    <mat-list>
        <h3 mat-subheader>Trip name</h3>
        <mat-list-item>
            <h4 mat-line>{{ trip.name }}</h4>
        </mat-list-item>
        <h3 mat-subheader>Description</h3>
        <mat-list-item>
            <h4 mat-line>{{ trip.description }}</h4>
        </mat-list-item>
        <div class="dates-group">
            <div>
                <h3 mat-subheader>Start date</h3>
                <mat-list-item>
                    <h4 mat-line>{{ trip.dateFrom }}</h4>
                </mat-list-item>
            </div>
            <div>
                <h3 mat-subheader>End date</h3>
                <mat-list-item>
                    <h4 mat-line>{{ trip.dateTo }}</h4>
                </mat-list-item>
            </div>
        </div>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Employees</h3>
        <mat-list-item *ngFor="let account of trip?.accounts">
            <h4 mat-line>
                {{ account.firstName }} {{ account.lastName }} - {{ account.email }}
            </h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Checklist Items</h3>
        <mat-list-item *ngFor="let checklistItem of trip?.checklistItems">
            <h4 mat-line>{{ checklistItem.name }} - {{ checklistItem.price }} €</h4>
        </mat-list-item>

        <h3 *ngIf="getMyRequests().length > 0">Nepriimti sprendimai</h3>

        <div *ngFor="let request of getMyRequests()">
            <div style="display: flex">
                <div>Request type: {{ request?.type }}</div>

                <div style="display: flex; margin-left: auto;">
                    <button
                            mat-raised-button
                            color="primary"
                            (click)="acceptTripRequst(request)">
                        Accept
                    </button>
                    <button mat-stroked-button (click)="rejectTripRequest(request)">
                        Reject
                    </button>
                </div>
            </div>
        </div>
    </mat-list>
</mat-card>
