<div class="wrapper container">
  <h1>Create new trip</h1>
  <mat-form-field>
    <input [(ngModel)]="trip.name" name="name" matInput placeholder="Name" />
  </mat-form-field>

  <mat-form-field>
    <textarea
      matInput
      [(ngModel)]="trip.description"
      name="description"
      placeholder="Description"
    ></textarea>
  </mat-form-field>

  <h4>Dates</h4>
  <div class="input-block">
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker1"
        placeholder="Select start data"
        [(ngModel)]="trip.dateFrom"
      />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker2"
        placeholder="Select end date"
        [(ngModel)]="trip.dateUntil"
      />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>

  <h4>Select employees to go to this trip</h4>
  <mat-selection-list>
    <mat-list-option
      *ngFor="let employee of employees"
      (click)="selectEmployee(employee.id)"
    >
      {{ employee.firstName }} {{ employee.lastName }} - email:
      {{ employee.email }}
    </mat-list-option>
  </mat-selection-list>

  <h4>Add items to checklist</h4>
  <mat-list>
    <mat-list-item *ngFor="let item of trip.checkListItems">
      {{ item.name }} - {{ item.price }}
    </mat-list-item>
  </mat-list>

  <mat-form-field>
    <div class="input-block">
      <input
        [(ngModel)]="item.name"
        name="item"
        matInput
        placeholder="New item"
      />
    </div>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      maxlength="9"
      placeholder="Price"
      [(ngModel)]="item.price"
    />
    <span matPrefix>$&nbsp;</span>
  </mat-form-field>
  <button mat-button (click)="onAddNewItem()" color="primary">
    Add new item
  </button>
  <hr />

  <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
</div>
