<div mat-dialog-title>
    Add new role
</div>
<form [formGroup]="addRoleForm">

    <div mat-dialog-content style="display: flex; flex-direction: column">
        <mat-form-field class="w-100">
            <input matInput
                   type="text"
                   placeholder="Role name"
                   formControlName="name">
        </mat-form-field>

        <mat-form-field class="w-100">
              <textarea matInput
                        placeholder="Description"
                        formControlName="description">
              </textarea>
        </mat-form-field>
    </div>

    <div mat-dialog-actions class="d-flex">
        <button mat-stroked-button class="" [mat-dialog-close]>
            Cancel
        </button>
        <button mat-raised-button color="primary" style="margin-left: 1em" [disabled]="addRoleForm.invalid"
                (click)="saveRole()">
            Add role
        </button>
    </div>
</form>
