<ul>
  <li><button mat-button routerLink="/trips">Trips</button></li>
  <li><button mat-button routerLink="/apartments">Apartments</button></li>
  <li><button mat-button routerLink="/employees">Employees (users)</button></li>
  <li><button mat-button routerLink="/roles">Roles</button></li>
  <li><button mat-button routerLink="/statistics">Statistics</button></li>

  <button class="ml-a" mat-raised-button (click)="checkMe()">check me </button>
  <button mat-raised-button (click)="logout()">logout</button>

  <li class="li-avatar">
    <img
      class="avatar"
      src="https://www.w3schools.com/howto/img_avatar.png"
      alt="avatar"
    />
  </li>
</ul>
