<div mat-dialog-title>
  Edit employee
</div>
<form [formGroup]="editEmployeeForm">
  <div mat-dialog-content style="display: flex; flex-direction: column">
    <mat-form-field class="w-100">
      <input
        matInput
        type="text"
        placeholder="First name"
        formControlName="firstName"
        [value]="selectedEmployee.firstName"
      />
    </mat-form-field>

    <mat-form-field class="w-100">
      <input
        matInput
        type="text"
        placeholder="Last name"
        formControlName="lastName"
        [value]="selectedEmployee.lastName"
      />
    </mat-form-field>

    <mat-form-field class="w-100">
      <input
        matInput
        type="email"
        placeholder="Email"
        formControlName="email"
        [value]="selectedEmployee.email"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Roles</mat-label>
      <mat-select formControlName="roles" multiple>
        <mat-option *ngFor="let role of roles" [value]="role">
          {{ role.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <div mat-dialog-actions class="d-flex">
    <button mat-stroked-button class="" [mat-dialog-close]>
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      style="margin-left: 1em"
      [disabled]="editEmployeeForm.invalid"
      (click)="saveEmployee()"
    >
      Update employee
    </button>
    <button
      mat-raised-button
      color="primary"
      style="margin-left: 1em"
      (click)="deleteEmployee()"
    >
      Delete employee
    </button>
  </div>
</form>
